{% from "macros/fields.tmpl" import render_input_field,render_checkbox_field, render_submit, render_input_choice, render_errors %}
{% extends "shared/layout.tmpl" %}

{% block title %}Forgotten password{% endblock %}

{% block content %}
  <h3>insert</h3>
  <div class="form-group">Type in the email address you used when signing up and we'll send you a link to reset your password.</div>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.a) }}
    {{ render_input_field(form.b) }}
    {{ render_input_choice(form.obrazec) }}
    {{ render_submit() }}
    {{ render_errors(form.a.errors) }}
    {{ render_errors(form.b.errors) }}
    {{ render_errors(form.obrazec.errors) }}
  </form>
{% endblock %}
